.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Navbar{
  background-color: rgba(149, 101, 230, 1) !important;
}

.navcontent{
  display: flex;
  margin-left: 10px;
}

.NoteContainer{
  margin-top: 100px !important;
}

.addnote{

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

.NoteComponent{
  position: relative;
  top: 70px;
}

#dltIcon{
  
    font-size: larger;
    position: absolute;
    left: 90%;
    top: 50%; 
    color: red;
}

#editIcon{

  font-size: larger;
  position: absolute;
  left: 94%;
  top: 50%; 
  color: purple;

}

.active{
  color: blanchedalmond !important;
}

i{
  cursor: pointer;
}
.Login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 2px solid rgba(149, 101, 230, 1);
  height: 400px;
  width: 350px;
  padding: 20px; /* Add some padding to the container */
  background-color: white;
  box-shadow: 5px 10px #888888;
}

.Signup{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 2px solid rgba(149, 101, 230, 1);
  height: 430px;
  width: 350px;
  padding: 20px; /* Add some padding to the container */
  background-color: white;
  box-shadow: 5px 10px #888888;
}

.LoginForm{
  display: flex; /* Use flexbox to align items horizontally and vertically */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center;
  margin-top: 30px;
}

.signupForm{
  display: flex; /* Use flexbox to align items horizontally and vertically */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center;
  margin-top: 30px;
}

 .Credbox{
  margin-bottom: 10px !important;
  width: 100%;
}

.Loginbtn{
  position: relative;
  width: 100% !important;
  background-color: rgba(149, 101, 230, 1) !important;
  margin-top: 10px !important;
}

.signupbtn{
  position: relative;
  width: 100% !important;
  background-color: rgb(187, 104, 27) !important;
  margin-top: 10px !important;
}

.logoutbtn{
 float: right !important;
 margin-right: 10px;
}

.circular{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 4;
}

